<!DOCTYPE html>
 <html>
      <head>
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
           <title>HEATMAP PROJECT</title>
           <!-- Bootstrap CSS -->
           <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
           <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
           <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
           <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
           <link type="text/css" rel="stylesheet" href="../CSS/styling.css"/>
      </head>
      <body>
           <!-- NAVIGATION BAR -->
           <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"> <!-- fixed-top or sticky-top -->
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarCollapse">
                 <ul class="navbar-nav mr-auto">
                   <li class="nav-item active">
                     <a class="nav-link" id="homeLink">Home <span class="sr-only">(current)</span></a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" id="uploadFileLink">Upload File</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="../php/insert.php?action=LogOut">Log Out</a>
                   </li>
                 </ul>
               </div>
             </nav>
                        
          <!--<div class="header">
               <div class="header-left">
                 <a id="homeLink">Home</a>
                 <a id="uploadFileLink">Upload File</a>
                 <a href="../php/insert.php?action=LogOut">Log Out</a>
               </div>
             </div>-->
          <!-- NAVIGATION BAR END -->

          <table class="table table-borderless table-sm">
               <thead>
                    <tr>
                         <th style="text-align: center;" id="userInfo" scope="col" colspan="2">User Info</th>
                    </tr>
               </thead>
               <tbody>
                    <!--<tr style="text-align: center;"><th>ΣΤΟΙΧΕΙΑ</th></tr>-->
                    <tr>
                         <th scope="row">USERNAME : </th>
                         <td id="username"></td>
                    </tr>
                    <tr>
                         <th scope="row">EMAIL : </th>
                         <td id="email"></td>
                    </tr>
                    <tr>
                         <th scope="row">PERIOD : </th>
                         <td id="period"></td>
                    </tr>
                    <tr>
                         <th scope="row">LAST UPLOAD : </th>
                         <td id="last_upload"></td>
                    </tr>
               </tbody>
          </table>
          
          <table class="table table-borderless table-sm">
               <thead>
                    <tr>
                         <th style="text-align: center;" id="userInfo" scope="col" colspan="2">LEADERBOARD</th>
                    </tr>
               </thead>
               <tbody>
                    <tr>
                         <th scope="row">#</th>
                         <th scope="row">User</th>
                         <th scope="row">Score</th>
                    </tr>
               </tbody>
          </table>    

          <br>
          <div class="wrapper">
               <table style="margin: auto;">
                    <tbody>
                         <tr>
                              <td></td>
                              <td>FROM</td>
                              <td>TO</td>
                         </tr>
                         <tr>
                              <td>YEAR : </td>
                              <td><select required  id="year1"  class="" >
                              </select></td>
                              <td><select id="year2"  class="" >
                              </select></td>
                         </tr>
                         <tr>
                              <td>MONTH : </td>
                              <td><select required  id="month1"  class="">
                              </select></td>
                              <td><select  id="month2"  class="" >
                              </select></td>
                         </tr>
                         <tr>
                              <td><button id="display"><b>DISPLAY</b></button></td>
                         </tr>
                    </tbody>
               </table>
               <div  style="display: none;" id="piechart"></div>
               <div style="display: none;" id="barchart2"></div>
          </div>
          <div style="display: none;" id="barchart"></div>
          <br>
          <div id="map"></div>
          
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      </body>
      <script src="../scripts/jquery.js"></script>
      <script src="../scripts/homeScript.js"></script>
      <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
     <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
     <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
     <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<!--      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script> -->
     <script src="leaflet-heat.js"></script>
     <script src="HeatLayer.js"></script>
</html>
