<!DOCTYPE html>
 <html>
      <head>
           <meta charset="utf-8">
           <title>HEATMAP PROJECT</title>
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
           <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
           <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
           <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
           <link type="text/css" rel="stylesheet" href="../CSS/styling.css"></link>
      </head>
      <body>
          <div class="header">
               <div class="header-left">
                 <a id="homeLink">Home</a>
                 <a id="uploadFileLink">Upload File</a>
                 <a href="../php/insert.php?action=LogOut">Log Out</a>
               </div>
             </div>

          <table style="margin: auto;">
               <tbody>
                    <tr style="text-align: center;"><th>ΣΤΟΙΧΕΙΑ</th></tr>
                    <tr>
                         <td>USERNAME : </td>
                         <td id="username"></td>
                    </tr>
                    <tr>
                         <td>EMAIL : </td>
                         <td id="email"></td>
                    </tr>
                    <tr>
                         <td>PERIOD : </td>
                         <td id="period"></td>
                    </tr>
                    <tr>
                         <td>LAST UPLOAD : </td>
                         <td id="last_upload"></td>
                    </tr>
               </tbody>
          </table>          

          <br>
          <div class="wrapper">
               <table style="margin: auto;">
                    <tbody>
                         <tr>
                              <td></td>
                              <td>FROM</td>
                              <td>TO</td>
                         </tr>
                         <tr>
                              <td>YEAR : </td>
                              <td><select required  id="year"  class="" >
                                   <option>--OPTIONS--</option>
                              </select></td>
                              <td><select disabled id="year"  class="" >
                                   <option>--OPTIONS--</option>
                              </select></td>
                         </tr>
                         <tr>
                              <td>MONTH : </td>
                              <td><select required  id="month"  class="">
                                   <option>--OPTIONS--</option>
                              </select></td>
                              <td><select disabled  id="year"  class="" >
                                   <option>--OPTIONS--</option>
                              </select></td>
                         </tr>
                         <tr>
                              <td><button><b>DISPLAY</b></button></td>
                         </tr>
                    </tbody>
               </table>
               <div  id="piechart"></div>
               <div style="display: none;" id="barchart2"></div>
          </div>
          <div style="display: none;" id="barchart"></div>
          <br>
          <div id="map"></div>
                    
      </body>

      <script src="../scripts/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="../scripts/homeScript.js"></script>
      <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
     <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
     <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
     <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<!--      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script> -->
     <script src="leaflet-heat.js"></script>
     <script src="HeatLayer.js"></script>
</html>
