<!DOCTYPE html>
 <html>
      <head>
           <meta charset="utf-8">
           <title>Angularjs</title>
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      </head>
      <body>
           <form action="Controller1.js" method="POST">
                <table>
                     <tbody>
                         <tr>
                              <td><label for="username"><b>Username</b></label></td>
                              <td><input type="text" id="username" ></td>
                         </tr>
                         <tr>
                              <td><label for="password"><b>Password</b></label></td>
                              <td><input type="text" id="password"></td>
                         </tr>
                         <tr>
                              <td><label for="email"><b>Email</b></label></td>
                              <td><input type="text" id="email"></td>
                         </tr>
                         <tr>
                              <td><input id="registerButton" type="button" value="Register"></td>
                         </tr>
                     </tbody>
                </table>
           </form>
      </body>
      <script src="../scripts/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="../scripts/registerScript.js"></script>

</html>

