/*-- Body Reset --*/

body {
  overflow-x: hidden;
  background-image: linear-gradient(90deg, #ecf6fd, #efe5f8);
}

/*=== LANDING GRADIENT ===*/

.landing {
  text-align: center;
  background-image: linear-gradient(90deg, #4aa5f0, #6700bf);
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/*=== HEADINGS & ICONS ===*/

.landing h4 {
  color: white;
  font-weight: 200;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.15);
  padding: 1.8rem 0;
}

.landing h1 {
  color: white;
  font-weight: 200;
  padding-top: 7rem;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.15);
}

.landing home {
  padding-top: 7rem;
}

/*=== NAVIGATION ===*/

.navbar {
  background-image: linear-gradient(90deg, #4aa5f0, #6700bf);
  padding: 0.3rem 0 0.6rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.12rem;
  font-size: 1.2rem;
  text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.15);
  margin-right: 0.8rem;
}

.nav-link.active,
.nav-link:hover {
  border-bottom: 0.05rem solid white;
}

/*=== CONTENT STYLE ===*/

h3 {
  font-weight: 300;
}

.w-300 {
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.1);
}

/*=== FIXED BACKGROUND IMG ===*/

.fixed-background {
  padding: 12rem 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.fixed {
  background-image: linear-gradient(90deg, #4aa5f0, #4aa5f0);
  position: fixed;
  /*opacity: .5;*/
}

.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/

.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}

.fixed {
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

#piechart {
  width: 100%;
  height: 300px;
  display: none;
}
#barchart {
  width: 100%;
  height: 370px;
  display: none;
}

#barchart3 {
  width: 100%;
  height: 370px;
}

#barchart2 {
  width: 100%;
  height: 370px;
  display: none;
}

#map {
  height: 500px; /* The height is 400 pixels */
  width: 800px;
}

.map-bg {
  background-image: linear-gradient(90deg, #4aa5f0, #6700bf);
  padding: 2rem 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

footer {
  position: fixed;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 200px;
}
